*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialised;
}

/*Container =========================*/

.container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header =========================*/

.header {
  width: 100%;
  height: 138px;
  background-color: #3a3a3a;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header__logo {
  display: flex;
  font-size: 32px;
}

.nav {
  display: flex;
  font-size: 24px;
}

.nav__link {
  margin-left: 60px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  color: #bdff00;
}

/*Intro =========================*/

.intro {
  height: 1166px;
  background-color: #3a3a3a;
  padding-top: 138px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__container {
  max-width: 1073px;
  font-size: 60px;
}

.intro__first {
  color: #fff;
  margin: 0;
  padding-bottom: 25px;
}

.intro__second {
  color: #bdff00;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}

.intro__third {
  margin: 0;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 52px;
}

.intro__container__buttons {
  display: flex;
  flex-direction: row;
}

.btn {
  display: inline-block;
  vertical-align: top;

  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;

  padding: 30px 36px;
  border-radius: 20px;
  margin-right: 20px;

  transition: background-color 0.1s linear;
}

.btn--green {
  background-color: #bdff00;
}

.btn--green:hover {
  background-color: #abe901;
}

.btn--gray {
  background-color: #d9d9d9;
}

.btn--gray:hover {
  background-color: #b6b6b6;
}

.intro__footer {
  background-color: #fff;
  height: 192px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

/*About =========================*/

.about {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 137px;
  color: #bdff00;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__card {
  width: 32.5%;
  height: 443px;
  box-shadow: 0 4px 6px 3px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 29px;
  padding-bottom: 24px;
}

.about__card img {
  width: 100px;
}

.card__img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.about__card__text p {
  margin: 3px auto;
  font-weight: 700;
  font-size: 17px;
  color: black;
  padding: 0 8px;
}

.about__card__text {
  width: 100%;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.card__title {
  margin: 0 auto;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #3a3a3a;
}

.about__card:last-child {
  margin-right: 0;
}

/*Portfolio =========================*/

.portfolio {
  height: 1144px;
  background: rgb(189, 255, 0);
  background: linear-gradient(
    180deg,
    rgba(189, 255, 0, 1) 0%,
    rgba(189, 255, 0, 1) 65%,
    rgba(58, 58, 58, 1) 100%
  );
  padding-top: 61px;
}

.portfolio__title {
  height: 129px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 24px;
}

.portfolio__title h1 {
  font-size: 40px;
  color: #3a3a3a;
  margin: 0 auto;
}

.portfolio__pictures_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-width: 3px;
  border-color: #fff;
  padding: 10px;
  width: 1346px;
  margin: 0 auto;
}

/*Skills =========================*/

.skills {
  height: 1023px;
  background-color: #3a3a3a;
  padding: 83px;
}

.skills__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__title {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 24px auto;
  width: 100%;
}

.skills__title h1 {
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
}

.skills__circle__row__upper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1070px;
  width: 100%;
  margin-bottom: 70px;
}

.skills__circle__row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 772px;
  width: 100%;
}

.skills__circle__container {
  width: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px;
}

.skills__circle__container img {
  margin-bottom: 10px;
}

.skills__circle__container span {
  margin: 0 auto;
  color: #bdff00;
}

.skills__circle__container p {
  margin: 0;
  position: absolute;
  top: 37%;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

/*Work =========================*/

.work {
  height: 1036px;
  background-color: #fff;
  padding: 52px;
}

.work__title {
  height: 137px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work__title h1 {
  font-size: 40px;
  color: #3a3a3a;
  margin: 0 auto;
}

.card__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card__container img {
  width: 23%;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.map {
  overflow: hidden;
  margin: 0;
  max-height: 429px;
}

.map img {
  width: 100%;
}
/*Contact =========================*/

.contact {
  background-color: #3a3a3a;
  height: 915px;
  position: relative;
  padding-top: 130px;
}

.contact__inner {
  display: flex;
  flex-direction: column;
}

.contact__row {
  height: 383px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 100px;
}

.contact__logo {
  display: flex;
  flex-direction: column;
  margin-right: 54px;
}

.contact__highlight {
  font-size: 20px;
  color: #bdff00;
  font-weight: 700;
}

.contact__logo div {
  margin: auto;
}

.contact__links {
  margin-top: 27px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.first_link {
  width: 252px;
}

.second_link {
  width: 359px;
}

.third_link {
  width: 527px;
}

.contact__links h1 {
  font-size: 20px;
  color: #bdff00;
}

.contact__navigation {
  display: flex;
  flex-direction: column;
}

.contact__navigation a {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s linear;
}

.contact__navigation a:hover {
  color: #bdff00;
}

.contact__footer {
  height: 118px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -1px 0px #fff;
}

.contact__footer h1 {
  font-size: 20px;
  color: #fff;
  margin: auto;
}

.img__links {
  gap: 20px;
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.img__link {
  border-radius: 50%;
  transition: opacity 0.2s linear;
}

.img__link:hover {
  opacity: 0.8;
}

.img__link img {
  width: 100%;
}

/*Burger =========================*/

.burger {
  display: none;
}

/*Media =========================*/

@media (max-width: 1400px) {
  /*Portfolio =========================*/

  .portfolio__pictures_container {
    width: 100%;
  }

  /*Work =========================*/
  .work {
    height: auto;
  }

  .card__container {
    margin-bottom: 100px;
  }

  .card__container img {
    width: 23%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*Contact =========================*/
  .contact {
    height: auto;
  }
  .contact__row {
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }

  .contact__footer {
    position: relative;
    margin-top: 30px;
  }

  .first_link {
    width: 150px;
  }

  .second_link {
    width: 240px;
  }

  .third_link {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  /*Header =========================*/

  .nav__link {
    margin-left: 30px;
  }

  /*Work =========================*/
  .card__container img {
    width: 31%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1050px) {
  /*Work =========================*/
  .card__container img {
    width: 45%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  /*Header =========================*/

  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  /*Intro =========================*/

  .intro {
    margin-top: 30px;
    height: auto;
  }

  .intro__footer {
    position: inherit;
  }

  /*About =========================*/

  .about {
    height: auto;
  }

  .cards {
    flex-direction: column;
  }

  .about__card {
    width: 60%;
    margin-bottom: 20px;
  }

  /*Portfolio =========================*/

  .portfolio {
    height: auto;
    padding-bottom: 250px;
  }

  /*Skills =========================*/

  .skills {
    height: auto;
  }

  .skills__circle__row__upper {
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .skills__circle__row {
    width: 100%;
    justify-content: center;
  }

  .skills__circle__container {
    width: 45%;
  }
}

@media (max-width: 940px) {
}

@media (max-width: 767px) {
  .about__card {
    width: 100%;
  }

  /*Contact =========================*/

  .first_link {
    width: 30%;
  }

  .second_link {
    width: 30%;
  }

  .third_link {
    width: 30%;
  }
}

@media (max-width: 600px) {
  /*Work =========================*/

  .card__container img {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  /*Contact =========================*/

  .first_link {
    width: 80%;
  }

  .second_link {
    width: 80%;
  }

  .third_link {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .skills__circle__container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .header__logo {
    font-size: 26px;
  }

  .intro__container {
    font-size: 45px;
  }

  .intro__third {
    font-size: 20px;
  }

  .portfolio__title h1 {
    font-size: 30px;
  }

  /*About =========================*/
  .about__title {
    font-size: 30px;
  }

  /*Skills =========================*/
  .skills__title h1 {
    font-size: 30px;
  }

  /*Work =========================*/

  .work {
    padding: 0;
  }

  .card__container {
    margin-bottom: 40px;
  }

  .work__title h1 {
    font-size: 25px;
  }
}
